{{!
    Articles page

    * @package heritage-newsletters
    * @copyright 2020 Richard Jones https://richardnz.net
    * @license Creative Commons CC-BY 3.0 NZ

}}
{{> header}}

<h2>{{heading}}</h2>
<h3>Search articles</h3>
<p>On this page you can enter a search term in the box below to limit the number of records returned or search for a particular term in either the Article title or the Article description.  Records are sorted by title.</p>
<p>Click the number in the Newsletter column to view the full Newsletter.</p>

<form method="post" action="./articles.php">
  <div class="form-group">
    <label for="searchtext">Search:</label>
    <input type="text" class="form-control" name="searchtext" value="{{searchtext}}">
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<div>
  <p>{{searchedfor}}</p>
  <table class="table table-striped">
    <thead>
      <th>Article No.</th>
      <th>Newsletter No.</th>
      <th>Article Title</th>
      <th>Article Text</th>
    </thead>
    <tbody>
      {{#records}}
        <tr>
          <td>{{id}}</td>
          <td><a href="showpage.php?id={{newsletterid}}">{{newsletterid}}</a></td>
          <td>{{title}}</td>
          <td>{{description}}</td>
        </tr>
      {{/records}}
    </tbody>
  </table>
</div>
<br>
{{> footer }}