{{!
    Template footer - finishes off a page

    * @package heritage-newsletters
    * @copyright 2020 Richard Jones https://richardnz.net
    * @license Creative Commons CC-BY 3.0 NZ

}}
<div class="footer">
  <p class="bg-light text-dark border">&copy; {{copyright}}
    <span style="float:right;"><a href="{{website}}">{{website}}</a></span>
  </p>
</div>
</body>
</html>