{{!
    Template footer - finishes off a page

    * @package heritage-newsletters
    * @copyright 2020 Richard Jones https://richardnz.net
    * @license Creative Commons CC-BY 3.0 NZ

}}
<div class="footer">
  <p class="bg-light text-dark border">&copy; 2020 Richard F Jones for Pirongia Heritage Centre
    <span style="float:right;"><a href="https://richardnz.net">https://richardnz.net</a></span>
  </p>
</div>
</body>
</html>