{{!
    Essential head information for Bootstrap 4.

    * @package heritage-newsletters
    * @copyright 2019 Richard Jones https://richardnz.net
    * @license Creative Commons CC-BY 3.0 NZ

}}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{pagetitle}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<style>
body {
    padding-top: 20px;
}
</style>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<!-- Custom paginator scripts -->
<script src="plugin/simple-bootstrap-paginator.js"></script>
<script src="js/pagination.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
      <div class="col-md-12">
          <ul class="list-group flex-sm-row">
            <li class="list-group-item">Links: </li>
            <li class="list-group-item"><a href="https://pirongiaheritage.org.nz">Main site</li>
            <li class="list-group-item"><a href="index.php?page=1">Newsletter index</li>
            <li class="list-group-item"><a href="articles.php">Article search</li>
            <li class="list-group-item"><a href="by_year.php">Browse articles</a></li>
            {{#is_loggedin}}
                <li class="list-group-item"><a href="accounts/home.php">Administration</a></li>
            {{/is_loggedin}}
          </ul>
          <br>