{{!
    Template for a generic html page

    * @package heritage-newsletters
    * @copyright 2019 Richard Jones https://richardnz.net
    * @license Creative Commons CC-BY 3.0 NZ

}}
{{> header}}

<h2>{{heading}}</h2>
<h3>View newsletter: {{number}}</h3>
  <ul class="list-group flex-sm-row">
    <li class="list-group-item"><a href="showpage.php?id={{next}}">next</a></li>
    <li class="list-group-item"><a href="showpage.php?id={{previous}}">previous</a></li>
  </ul>
  <iframe src="pdf/Newsletter_{{number}}.pdf" width="100%" height="800px">
  </iframe>
  <br>
  <ul class="list-group flex-sm-row">
    <li class="list-group-item"><a href="showpage.php?id={{next}}">next</a></li>
    <li class="list-group-item"><a href="showpage.php?id={{previous}}">previous</a></li>
  </ul>

{{> footer }}