{{!
    Template for a generic html page

    * @package heritage-newsletters
    * @copyright 2019 Richard Jones https://richardnz.net
    * @license Creative Commons CC-BY 3.0 NZ

}}
{{> header}}
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>{{greeting}}{{name}}</h3>
      <p>{{general}}</p>
      <p>{{search}}<a href="articles.php">articles</a></p>
    </div>
  </div>
  <br />
  <table class="table table-striped">
    <thead>
      <th>Number</th>
      <th>Month</th>
      <th>Year</th>
      <th>Click to view</th>
    </thead>
   <tbody>
    {{#records}}
     <tr>
       <td>{{id}}</td>
       <td>{{month}}</td>
       <td>{{year}}</td>
       <td><a href="pdf/Newsletter_{{id}}.pdf">link</a></td>
     </tr>
    {{/records}}
    </tbody>
  </table>

<div>
{{> footer }}